<!DOCTYPE html>
<meta name="keywords" content="html,css,python"/>
<meta name="description" content="learning html & python"/>
<html xmlns="http://www.baidu.com">
<head>
	<link rel="stylesheet" type="text/css" href="static/css/header.css">
	<link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="header">
		<p class="header"> this is a header</p>
	</div>
	<div class="content">
	<h1 style="color:fuchsia" > this is first page </h1>


	<a href="/login" name="linked"><button name="login">login</button></a>
	
	<a href="/float"><button>float</button></a>



	<h1 class="red"> i am a bird </h1>
	<p class="yellow">comment: just for learning,don't use for money</p>

	<a class="yellow red"> this is double class</a>

	<p id="important"> this is a important id</p>

	<p name="boy"> my name is boy </p>
	<p game="end"> my game is end </p>
	<p name="female" game="sexual"> my name &game is female attack </p>
	</div>

</body>
</html>
