<!DOCTYPE html>
<html>
<head>
<script src="static/js/jquery-3.1.0.js"></script>
<script src="static/js/my.jqsample.js"></script>
</head>

<body >
	<p class="sample"> this is appear</p>
	<button type="button" class="hide">click hide</button>
	<button type="button" class="show">click show</button>
	<button type="button" class="toggle">click toggle</button>
	<p class="expression"> this is jqsamplejs</p>
	<p class="fade"> this is fade</p>
	<button type="button" class="fadein">fadein</button>
	<button type="button" class="fadeout">fadeout</button>
	<button type="button" class="fadetoggle">fadetoggle</button>
	<button type="button" class="fadeto">fadeto</button>
	<br/>
	<p class="slide"> this is slide</p>
	<button type="button" class="slidedown">slidedown</button>
	<button type="button" class="slideup">slideup</button>
	<button type="button" class="slidetoggle">slidetoggle</button>
	<button type="button" class="slidestop">slidestop</button>
	<p class="access" name="null"> this is access</p>
	<input class="access" name="elsa" value="sara"/>
	<button type="button" class="text">text</button>
	<button type="button" class="html">html</button>
	<button type="button" class="val">val</button>
	<button type="button" class="attr">attr</button>


</body>
</html>
