<!DOCTYPE html>
<html>
<head>
<script src="static/js/jquery-3.1.0.js"></script>
<script src="static/js/my.jqsample.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/jqcss.css"></link>
</head>

<body >
	<p class="sample"> this is appear</p>
	<button type="button" class="hide">click hide</button>
	<button type="button" class="show">click show</button>
	<button type="button" class="toggle">click toggle</button>
	<p class="expression"> this is jqsamplejs</p>
	<p class="fade"> this is fade</p>
	<button type="button" class="fadein">fadein</button>
	<button type="button" class="fadeout">fadeout</button>
	<button type="button" class="fadetoggle">fadetoggle</button>
	<button type="button" class="fadeto">fadeto</button>
	<br/>
	<p class="slide"> this is slide</p>
	<button type="button" class="slidedown">slidedown</button>
	<button type="button" class="slideup">slideup</button>
	<button type="button" class="slidetoggle">slidetoggle</button>
	<button type="button" class="slidestop">slidestop</button>
	<p class="access" name="null"> this is access</p>
	<input class="access" name="elsa" value="sara"/>
	<button type="button" class="text">text</button>
	<button type="button" class="html">html</button>
	<button type="button" class="val">val</button>
	<button type="button" class="attr">attr</button>
	<p class="add" name="null"> this is add</p>
	<input class="add" name="elsa" value="sara"/>
	<button type="button" class="append">append</button>
	<button type="button" class="prepend">prepend</button>
	<button type="button" class="after">after</button>
	<button type="button" class="before">before</button>
	<button type="button" class="remove">remove</button>
	<button type="button" class="empty">empty</button>
	<button type="button" class="addclass">addclass</button>
	<button type="button" class="removeclass">removeclass</button>
	<button type="button" class="toggleclass">toggleclass</button>
	<button type="button" class="css">css</button>

	<p class="size" name="null"> this is size</p>
	<button type="button" class="width">width</button>
	<button type="button" class="height">height</button>
	<button type="button" class="innerwidth">innerwidth</button>
	<button type="button" class="innerheight">innerheight</button>
	<button type="button" class="outerwidth">outerwidth</button>
	<button type="button" class="outerheight">outerheight</button>
	<button type="button" class="outerwidthmargin">outerwidthmargin</button>
	<button type="button" class="outerheightmargin">outerheightmargin</button>
	<button type="button" class="window">window</button>
	<button type="button" class="document">document</button>
	<button type="button" class="changesize">changesize</button>
	
	<div>div
		<ul>ul
			<li>li
				<p class="travel">this is me</p>
				<ol>children
					<li>grandson
						<p class="children">first</p>
						<p class="children">mid</p>
						<p class="children">last</p>
					</li>
				</ol>	
				<p class="inli">children too</p>
			</li>
		</ul>
	</div>


	<button type="button" class="parent">parent</button>
	<button type="button" class="parents">parents</button>
	<button type="button" class="parentsspecial">parentsspecial</button>
	<button type="button" class="parentsuntil">parentsuntil</button>
	<button type="button" class="children">children</button>
	<button type="button" class="find">find</button>
	<button type="button" class="findall">findall</button>
	<button type="button" class="siblings">siblings</button>
	<button type="button" class="next">next</button>
	<button type="button" class="nextall">nextall</button>
	<button type="button" class="nextuntil">nextuntil</button>
	<button type="button" class="filter">filter</button>
	<button type="button" class="not">not</button>
	<button type="button" class="first">first</button>
	

</body>
</html>
