<!DOCTYPE html>
<html>
<head>
<script>
function judgment(account,alerttxt) {
	with(account) {
		if (value==null||value=="")
	    	{alert(alerttxt);return false}
    	else {return true}
	}
}
function validate(thisform) {
	with(thisform) {	
		if (judgment(account,"account must be filled out!")==false)
			{account.focus();return false}
		if (judgment(password,"password must be filled out!")==false)
			{password.focus();return false}
	}
}
</script>
</head>

<body>
	<form action="/login" onsubmit="return validate(this)" method="post">
	name:<input name="account"><br/>
	password:<input name="password">
    <input type="submit" value="submit youself">
	</form>

</body>


</html>
