<!DOCTYPE html>
<meta name="keywords" content="html,css,python"/>
<meta name="description" content="learning html & python"/>
<html xmlns="http://www.baidu.com">
<head>
	<link rel="stylesheet" type="text/css" href="static/css/header.css">
	<link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">
	<script>
		document.write("<h1>hello beautiful! this is headscript speaking</h1>");
		/*
		this is some kind of announcement
		*/
		// still announcement
		var times=0;
		var goodname=["a","b","c"];
		var goodday={"a":1,"b":2,"c":3}
		goodname[3]="d"
		goodday.a=0
		goodday.d=4
		function cliptochange() {
			document.getElementById("firstp").innerHTML="hello there";
			document.getElementById("firsth2").innerHTML="hello there";
			times=times+1;
		}

		function cliptolost() {
			document.getElementById("firstp").innerHTML="hellow there2".toUpperCase();	
	  		//document.write("holly cow,you are lost");
			times=times+2;
		}

		function cliptosummary() {
			var result="";
			for(i=1;i<=times;i++) {
				document.getElementById("times").innerHTML="you have clip:"+i+" times";	
				setTimeout(function(){}, 1000);
			}
			for( i in goodday) {
				result=result+i+goodday[i];	
			}
			document.getElementById("times").innerHTML=result;	
				
		}

		function cliptoprint(jonn) {
			var globalvar="hi there";
			for(i=0;i<goodname.length;i++) {
				document.write(i+goodname[i]);
			}
			document.write("<br/>");
			document.write(goodday.a,goodday["c"]," good day, "+jonn);
			return globalvar;
		}
		var globalvar=cliptoprint();
		//document.getElementById("firsth2").innerHTML=golbalvar;
		document.write(globalvar);

		function cliptoequal(numberb) {
			if(numberb==5)
				document.getElementById("number").innerHTML="naive";
				if(numberb===5)
					document.getElementById("number").innerHTML="good job";
		/*	else
				document.getElementById("number").innerHTML=(numberb==5);*/
			switch(numberb)	{
				case 0:
					document.getElementById("number").innerHTML="one";
				case 1:
					document.getElementById("number").innerHTML="two";
				case 2:
					document.getElementById("number").innerHTML="three";
				case 4:
					document.getElementById("number").innerHTML="four";
				default:
					document.getElementById("number").innerHTML="default";
			}				
		}
		function cliptocatch() {
			try {
				var catchresult=document.getElementById("hodor").value;
				if (catchresult=="") throw "value not found";
				if (isNaN(catchresult)) throw "value not number";	
				if (catchresult>10) throw "value 0";
				else throw "value noway";
			}
			catch(err) {
				var presult=document.getElementById("firstp");
				presult.innerHTML=err;
			}
		}
		
		function cliptochange() {
			var change=document.getElementById("hodor");
			change.value=change.value.toUpperCase();
			change.style.background="white";
		}

		function cliptoimg() {
			var img=document.getElementsByTagName("img");
			img[1].src="static/css/images/flower.gif";
			var img2=document.getElementsByName("sample");
		    //img2=img2.getElementsByName("sample");
			img2[0].src="static/css/images/border.png";
			img2[0].style.width="200px";
			var number1=document.getElementById("number");
			number1.style.visibility="hidden";
		}
		function cliptomouseevent() {
			document.getElementById("firstp").innerHTML="hello there";
			
		}
		var t;	
		function clockstart() {
			var today=new Date();
			var hour=today.getHours();
			var min=today.getMinutes();
			var sec=today.getSeconds();
			hour=checktime(hour);
			min=checktime(min);
			sec=checktime(sec);

			var present=hour+":"+min+":"+sec;
			document.getElementById("clock").innerHTML=present;

			t=setTimeout('clockstart()',500);
		
		}

		function checktime(para) {
			if (para<10) {para="0"+para;}
			return para;
		}
		
		function clockend() {
			clearTimeout(t);
			document.getElementById("clock").innerHTML="clock have stop";
		}


		//is seems chrome don't support onunload
		function checkload() {
			alert("welcome young man");
		}
		
		function checkunload() {
			alert("don't leave me please");
		}
		

		function cliptochild() {
			var newchild=document.createElement("p");
			text=document.createTextNode("yeah i am new born p");
			newchild.appendChild(text);

			var body=document.getElementsByTagName("body");
			body[0].appendChild(newchild);
			
			var oldchild=document.getElementById("firsth2");
			oldchild.parentNode.removeChild(oldchild);
		}

		function cliptonewobject() {
			var scription=new Object();
			scription.head="hi,there ";
			scription.mid="i am new ";
			scription.tail="nice to meet you";
			document.getElementById("object").innerHTML=scription.head+scription.mid+scription.tail;
		}
		
		function person(para1,para2,para3) {
			this.head=para1;
			this.mid=para2;
			this.tail=para3;
		}
	</script>
</head>
<body onload="checkload()" onunload="checkunload()">
	<p id="firstp">waiting for input</p>
	<button onclick=cliptochange()>go</button>
	<button onclick=cliptolost()>die</button>
	<button onclick=cliptosummary()>see</button>
	<button onclick=cliptoprint("jonn")>print</button>
	<button onclick=cliptoequal("5")>equal</button>
	<button onclick=cliptoimg()>img</button>
	<button onclick=cliptochild()>child</button>
	<input id="hodor" onchange="cliptochange()" onfocus="this.style.background='tan'"/> 
	<button type="button" onclick=cliptocatch()>catch</button> 
	<button onclick='this.innerHTML="bitch"'>clip</button>
	<button id="mouseevent" onclick="cliptomouseevent()" onmousedown="this.innerHTML='clicking'" onmouseup="this.innerHTML='finish'">mouseevent</button>
	<button onclick=cliptonewobject()>newobject</button>
	<button onclick=stringrelate()>newstring</button>
	<button onclick=arrayrelate()>array</button>

	
    <p id="times" onmouseover="this.style.color='blue'" onmouseout="this.style.color='tan'">you have clip:0 times</p>
	<img name="sample" src="static/css/images/sample.png" style="width:100px"><br/>
	<img class="border" src="static/css/images/border.png">
	<p id="object"></p>
	<p id="stringsample"></p>
	<p id="timesample" onmouseover=timerelate()></p>
	<p id="clock"></p>
	<button onclick=clockstart()>clockstart</button>
	<button onclick=clockend()>clockstop</button>
	<p id="array"></p>
	<p id="regular"></p>
	<p id="regular2"></p>
	<p id="regular3"></p>
	<button onclick=regularrelate()>regular</button>
	<p id="window"></p>
	<button onclick=windowrelate()>window</button>
	<p id="screen"></p>
	<button onclick=windowrelate()>screen</button>
	<p id="location"></p>
	<button onclick=locationrelate()>location</button>
	<button onclick=alertrelate()>alert</button>
	<p id="alert"></p>


	

	<script>
		document.write("<h2 id='firsth2'>damn you i am tailscript!</h2>")
		document.write("<h2 id='number'>how do you do</h2>")
		var mouse=document.getElementById("firstp");
		//mouse.onmouseover=levent() {cliptomouseevent();};
		
		//should be here,if in head."object" is still no define when execute
		var boy=new person("hi func","there","bye");
		boy.bye="bye";

		boy.changename=changename;

		function changename(name) {
			this.head=name;
		}

		boy.changename("there there");
		document.getElementById("object").innerHTML=boy.head+boy.mid+boy.tail+boy.bye;
		function stringrelate() {
			var sample="hello baby";
			lengths=sample.length;
			indexofb=sample.indexOf("b");
			matching=sample.match("Baby");
			document.getElementById("stringsample").innerHTML=lengths+" "+indexofb+" "+matching;
		}
		function timerelate() {
			var sampletime=new Date();
			document.getElementById("timesample").innerHTML=sampletime.getTime();
		}	
		
		function arrayrelate() {
			var arraysample=new Array(3);
			arraysample[0]="hi";
			arraysample[1]="i am array";
			arraysample[2]="tail";
			arraysample[3]="try";

			document.getElementById("array").innerHTML=arraysample[0]+arraysample[1]+arraysample[2]+arraysample[3];
		}

		function regularrelate() {
			var regularsample=new RegExp("haha");
			document.getElementById("regular").innerHTML=regularsample.test("yeah hahaha");
			var result="find it";
			if (regularsample.exec("no no no")==null) {result="no found";}
			document.getElementById("regular2").innerHTML=result;
			regularsample.compile("no");
			document.getElementById("regular3").innerHTML=regularsample.exec("no no no");
		}

		function windowrelate() {
		 	var heightsample=window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
			var widthsample=window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
			document.getElementById("window").innerHTML="window's size is "+heightsample+","+widthsample;
			//window.resizeTo(500,900);
			window.close();	
			//window.open();
			var availwidth=screen.availWidth;
			var availheight=screen.availHeight;	
			document.getElementById("screen").innerHTML="screenavail's size is "+availheight+","+availwidth;
		}

		function locationrelate() {
			var host=location.hostname;
			var port=location.port;
			var pathname=location.pathname;
			var protocol=location.protocol;
			var href=location.href;
			document.getElementById("location").innerHTML="host:"+host+"<br/>port:"+port+"<br/>pathname:"+pathname+"<br/>protocol:"+protocol+"<br/>href:"+href;
			window.location.assign("/login");
			history.back();
			//history.forward();

		}
		
		function alertrelate() {
			var r=confirm("press something");
			if (r==true) 
				{	
					var name=prompt("hahaha \n yeah","enter your name");
					if (name=="" || null) 
						{
							document.getElementById("alert").innerHTML="please enter your name";
						}
					else { document.getElementById("alert").innerHTML="welcome "+name+" you have a nice day";
					}
				}
			else { alert("nooooooooo");}
		}
	
	</script>
</body>
</html>
