<!DOCTYPE html>
<meta name="keywords" content="html,css,python"/>
<meta name="description" content="learning html & python"/>
<html xmlns="http://www.baidu.com">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://v3.bootcss.com/favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
	<link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="static/css/starter.css" rel="stylesheet">
    <script src="static/js/jquery-3.1.0.js"></script>
    <script src="static/js/treeview.js"></script>
    <script src="static/js/my.jqsample.js"></script>
    <script>
function getTree() {
    var tree = [
    {
        text: "Parent 1",
        nodes: [
        {
            text: "Child 1",
            nodes: [
            {
                text: "Grandchild 1"
            },
            {
                text: "Grandchild 2"
            }
            ]
        },
        {
            text: "Child 2"
        }
        ]
    },]

    return tree;
}


</script>

</head>
<body>
	<div id="tree">	</div>
	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
</body>
</html>
