
div#one {
	color:blue;
	width:1000px;
}

div#two {
	width:500px;

}

input#password {
	type:password;
}

input#submit {
	value:submit;
}

h1,h2,h3,h4,h5,h6,body {
	color:red;
	font-size:20px;
	font-family:serif;
	font-style:normal;
	font-weight:100;


}

a button {
	color:blue;
	font-size:30px;
}

#comment {
	color:pink;
	font-size:10px;
	text-indent:10px;
	text-align:center;
	word-spacing:10px;
	letter-spacing:2px;
	text-transform:capitalize;
	text-decoration:blink;	
}

.bird {
	color:gray;
	font-size:40px;
	border:red;
}

h2 p{
	color:black;
	font-size:50px;
	background-image:url('images/sample.png');
	background-repeat:repeat-x;
	/*width:1000px;
	height:1000px;
	*/
	background-position:top;
	border:red;
}

[name=laugh] {
	color:aqua;
	font-size:60px;
	background-color:black;
	padding:30px;
}


[name=space] {
	color:steelblue;
	font-size:70px;
	white-space:pre-line;

}
a {
	text-decoration:none;
	background-color:blue;
}

a.aspecial:link {
	color:tan;
}


a.aspecial:visited {
	color:tan
}

a.aspecial:hover {
	color:thistle;
}

a.aspecial:active {
	color:tomato;
}

