
div#one {
	color:blue;
	width:1000px;
}

div#two {
	width:500px;

}

input#password {
	type:password;
}

input#submit {
	value:submit;
}

h1,h2,h3,h4,h5,h6,body {
	color:red;
	font-size:20px;
	font-family:serif;
	font-style:normal;
	font-weight:100;


}

a button {
	color:blue;
	font-size:30px;
}

#comment {
	color:pink;
	font-size:10px;
	text-indent:10px;
	text-align:center;
	word-spacing:10px;
	letter-spacing:2px;
	text-transform:capitalize;
	text-decoration:blink;	
}

.bird {
	color:gray;
	font-size:40px;
	border:red;
}

h2 p{
	color:black;
	font-size:50px;
	background-image:url('images/sample.png');
	background-repeat:repeat-x;
	/*width:1000px;
	height:1000px;
	*/
	background-position:top;
	border:red;
}

[name=laugh] {
	color:aqua;
	font-size:60px;
	background-color:black;
	padding:30px;
}


[name=space] {
	color:steelblue;
	font-size:70px;
	white-space:pre-line;

}
a {
	text-decoration:none;
	background-color:blue;
}

a.aspecial:link {
	color:tan;
}


a.aspecial:visited {
	color:tan
}

a.aspecial:hover {
	color:thistle;
}

a.aspecial:active {
	color:tomato;
}
 
ul {
	width:500px;
	border:1px solid pink;
	list-style-type:square;
	list-style-image:url('images/sidample.png');
	list-style-position:inside;
	/*outline-style:solid;
	outline-width:5px;
	outline-color:tan;
	*/
	padding:100px 1px 30px 10px;
	margin:10% 10% 20% 10%;
}

table {
	border:5px solid;
	width:100%;
	border-color:tomato;
	border-collapse:collapse;
}

caption { 
	text-align:center;
	color:black;
	background-color:green;
}
th { 
	text-align:center;
	color:black;
	background-color:gray;
	border:5px solid tomato;

}

tr.tan {
	background-color:tan;
	border:5px solid tomato;

}

tr.pink {
	background-color:pink;
	border:5px solid tomato;

}

td {
	border:5px solid tomato;
}

p.border {
	border-color:tan pink blue black;
	border-style:solid dotted dashed double;
	border-width:5px 10px 20px 30px;
}
